<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="../styles/homepage.css">
</head>
<body>
    <%if(locals.newPost && locals.newPost.length > 0){%>
        <%-newPost[newPost.length - 1].form%>
    <%}else if(locals.title && locals.content){%>
        <div id = "post-sequence">
            <img src="https://images.unsplash.com/photo-1484788984921-03950022c9ef?q=80&w=1832&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="laptop">
            <div id = "post-content">
                <a href = "/content?title=<%= encodeURIComponent(title) %>&content=<%= encodeURIComponent(content) %>" id = "output"><%= title%></a>
                <p class = "text-container"><%=content%></p>
                <a href = "/content?title=<%= encodeURIComponent(title) %>&content=<%= encodeURIComponent(content) %>" id = "output"><button type = "submit">Read more</button></a>
            </div>
        </div>
        <%-button%>
    <%}else if(locals.createPost && locals.createPost.length > 0){%>
        <%createPost.forEach(createPost => {%>
            <%- createPost.form %>
        <%})%>
        <%-button%>
    <%}%>
</body>
</html>